h1 {
  color: white;
  text-shadow: 2px 2px #808080;
  background-color: #ffb6c1;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  
}
h2 {
  font-size: 30px;
  text-align: center;

  
}
body { 
  border: white;
  
  width: 100%;
}


.sunEmoji {
  height: auto;
  width: auto;
 
}

div.imgContainer {
    margin: 0 auto;
    display: block;
    text-align: center;
}
div.container {
  font-family: "Lucida Console", "Courier New", monospace;
  background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
  border-radius: 5px;
  width: 100%;

}
p {
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
.box-paragraph {
  background-color: #ffb6c1;
  color: white;
  font-size: 25px;
  border-radius: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  width: 95%;
  text-align: center;
  margin: auto;
  padding: 10px;
 
}
.wind {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.precipitation {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.description {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.humidity {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.weather-forecast{
  margin-top: 20px;
  text-align: center;
}
li {
  text-transform: capitalize;
  list-style-type: none;
  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
weatherIcon {
  display: block;
  margin: 0 auto;
  text-align: center;
}
githubrep {
  color: white;
  margin: 0 auto;

}
githubrep:hover {
  color: white;
}